/* Basscss Color Base */

body {
  /* color: $dark-gray;
  background-color: white; */
  color: #FFFFFF;
  background-color: #121212
}

#fa-icons {
  color: #03b3c1
}

#fa-icons:hover {
  color: #01565d 
}

a {
  color: $theme-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
