<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta property="og:site_name" content="Ethan Hurwitz"/>
  {% if page.title %}
    <meta property="og:title" content="{{ page.title }} — Ethan Hurwitz"/>
    <meta name="twitter:title" content="{{ page.title }} — Ethan Hurwitz"/>
  {% else %}
    <meta property="og:title" content="Ethan Hurwitz"/>
    <meta name="twitter:title" content="Ethan Hurwitz"/>
  {% endif %}
  <meta property="og:type" content="article">
  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}"/>
    <meta name="twitter:description" content="{{ page.description }}"/>
  {% else %}
    <meta property="og:description" content=""/>
    <meta name="twitter:description" content=""/>
  {% endif %}
  <meta property="og:url" content="{{ page.url }}"/>
  <meta name="twitter:url" content="{{ page.url }}"/>
  {% if page.image %}
    <meta property="og:image" content="{{ page.image | prepend: '/assets/img/' }}"/>
    <meta name="twitter:image" content="{{ page.image | prepend: '/assets/img/' }}"/>
  {% else %}
    <meta property="og:image" content=""/>
    <meta name="twitter:image" content=""/>
  {% endif %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@ethanshurwitz"/>
  <link rel="shortcut icon" href="/assets/img/favicon.jpg">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="canonical" href="/">
  <title>Ethan Hurwitz</title>
</head>
