{% if page.title %}

<div class="social">
  <span class="contacticon center">
    <a href="mailto:ehurwitz@ucsd.edu"><i class="fas fa-envelope" id="fa-icons"></i></a>
    <a href="https://scholar.google.com/citations?user=hciXZQQAAAAJ" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar" id="fa-icons"></i></a>
    <a href="https://github.com/ethanhurwitz" target="_blank" title="GitHub"><i class="fab fa-github" id="fa-icons"></i></a>
    <a href="https://twitter.com/ethanshurwitz" target="_blank" title="Twitter"><i class="fab fa-twitter" id="fa-icons"></i></a>
    <a href="https://www.linkedin.com/in/ethan-hurwitz-87857274/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin" id="fa-icons"></i></a>
  </span>
</div>

{% else %}

<div>
  <span class="center" style="display:block;font-size:32px;margin:10px;">
    <a href="mailto:ehurwitz@ucsd.edu"><i class="fas fa-envelope" id="fa-icons"></i></a>
    <a href="https://scholar.google.com/citations?user=hciXZQQAAAAJ" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar" id="fa-icons"></i></a>
    <a href="https://github.com/ethanhurwitz" target="_blank" title="GitHub"><i class="fab fa-github" id="fa-icons"></i></a>
    <a href="https://twitter.com/ethanshurwitz" target="_blank" title="Twitter"><i class="fab fa-twitter" id="fa-icons"></i></a>
    <a href="https://www.linkedin.com/in/ethan-hurwitz-87857274/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin" id="fa-icons"></i></a>
  </span>
</div>

{% endif %}
